<!--
<iframe wnwg-src="{{downloadna}}" style="display:none"></iframe>
-->
<div class="container-fluid">
    <div class="row navbar">
        <div class="col-4 col-sm-6 col-md-2">进货单</div>
        <div class="col-sm-2 col-md-2">{{mast.QISTR}}<span ng-show="mast.CHKYN == '1'">己审核</span></div>
        <div class="col-sm-3 col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">单号:{{mast.SHMTP}}</span>
                </div>
                <input type="text" class="form-control" placeholder="单号" aria-label="单号" [readonly]='edited' [(ngModel)]='mast.SHMUD'>
            </div>
        </div>

        <div class="col-sm-2 col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">日期</span>
                </div>
                <input class="form-control"  type="text" [readonly]='edited' [(ngModel)]='mast.SHM01'
                    date-picker />
            </div>
        </div>
        <div class="col-sm-2 col-md-3">
            <div class="btn-group ">
                <button class="btn btn-outline-info" ng-class="{'btn-outline-danger':saved,'btn-outline-success':!saved}"
                    type="button" ng-disabled='edited' ng-click="saveOrder()">保存</button>
                <a class="btn btn-outline-info" href="./print.php?MID={{mast.SHMID}}" target="print">列印</a>
                <a class="btn btn-outline-info" href="#/list">返回</a>
            </div>
        </div>
    </div>
    <div class="row navbar ">
        <div class="col-sm-3">
            <div class="input-group" ng-controller="AccGet">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">厂商</button>
                </div>
                <input type="text" class="form-control" ng-readonly='edited' ng-focus="isActive = true;
                            ShowAcc('', 'CLI')"
                    ng-keyup="ShowAcc(mast.SHM02NA, 'CLI')" ng-model='mast.SHM02NA' />
                <div class="input-group-btn" ng-class="{'open':isActive}" ng-hide='edited'>
                    <button type="button" class="btn btn-default" ng-click="isActive = !isActive;
                                ShowAcc('', 'CLI')"><span
                            class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-repeat="lidelt in listacc">
                            <a href="" ng-click="$parent.isActive = false;
                                        SetAcc(lidelt);"
                                ng-bind='lidelt.NAME'></a>
                            <span ng-if="lidelt.LID == 'LID'"><img src="/assets/images/wait.gif"></span>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="" ng-click="isActive = false;
                                    SetAcc({});
                                        ">清除</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">相关单号</span>
                </div>
                <input class="form-control" type="text" ng-readonly='edited' ng-model='mast.SHM17' />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">客户单号</span>
                </div>
                <input class="form-control " type="text" ng-readonly='edited' ng-model='mast.CLIID' />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">仓库</span>
                </div>
                <input type="text" class="form-control" ng-readonly='edited' ng-model='mast.SHM13NA' />
                <input type="hidden" class="form-control" ng-readonly='edited' ng-model='mast.SHM13' />
                <div class="input-group-btn" ng-hide="edited" dropdown>
                    <button type="button" class="btn btn-default  dropdown-toggle" dropdown-toggle><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="lidelt in listkc"><a href="" ng-click="SetVal('SHM13', lidelt.LID);
                                    SetVal('SHM13NA', lidelt.LNAME)"
                                ng-bind='lidelt.LNAME'></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">交货地址</span>
                </div>
                <input type="text" class="form-control" name="SHM09" id="SHM09" ng-readonly='edited' ng-model='mast.SHM09' />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" id="SHM09LIST">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group" ng-controller="DropdownController">
                <div class="input-group-prepend">
                    <span class="input-group-text">币别</span>
                </div>
                <input type="text" class="form-control" ng-readonly='edited' ng-model='mast.SHM18NA' />
                <input type="hidden" class="form-control" ng-readonly='edited' ng-model='mast.SHM18' />
                <div class="input-group-btn" ng-hide="edited" dropdown>
                    <button type="button" class="btn btn-default  dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="lidelt in listbb"><a href="" ng-click="SetVal('SHM18', lidelt.id);
                                    SetVal('SHM18NA', lidelt.item)"
                                ng-bind='lidelt.item'></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group" ng-controller="DropdownController">
                <div class="input-group-prepend">
                    <span class="input-group-text">交货方式</span>
                </div>
                <input type="text" class="form-control" name="SHM14NA" id="SHM14NA" ng-readonly='edited' ng-model='mast.SHM14NA' />
                <input type="hidden" class="form-control mast" name="SHM14" id="SHM14" ng-readonly='edited' ng-model='mast.SHM14' />
                <div class="input-group-btn" ng-hide="edited" dropdown>
                    <button type="button" class="btn btn-default  dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="shdelt in listsh"><a href="" ng-click="SetVal('SHM14', shdelt.BID);
                                    SetVal('SHM14NA', shdelt.BNAME)"
                                ng-bind='shdelt.BNAME'></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='row navbar'>
        <div class="col-6  col-sm">
            <input class="form-control" placeholder="料号" [(ngModel)]="mast.SHM01">
        </div>
        <div class="col-6  col-sm">
            <input class="form-control" placeholder="订单号" [(ngModel)]="mast.SHMID">
        </div>
        <div class="col-6  col-sm">
            <input class="form-control" placeholder="相关号" [(ngModel)]="mast.CPID">
        </div>
        <div class="col-6  col-sm">
            <input class="form-control" placeholder="厂商" [(ngModel)]="mast.SHM02">
        </div>
        <div class="col-6  col-sm">
            <input class="form-control" placeholder="操作员" [(ngModel)]="mast.SHM04">
        </div>
    </div>
    <div class="table-responsive">
        <table ng-table="TableDelts" onkeydown="tablekey(event, this)" class="table table-bordered table-sm edittable">
            <thead>
                <tr id="tablehead">
                    <th class="text-center" nowrap>#</th>
                    <th class="text-center">来源单号</th>
                    <th class="text-center">相关号</th>
                    <th class="text-center">物料编码</th>
                    <th class="text-center" width="25%">产品名称</th>
                    <th class="text-center" width="06%"><span ng-class="{'text-info':calctp === 'D03'}" ng-click="SetPDJTP('D03');">数量</span></th>
                    <th class="text-center">单位</th>
                    <th class="text-center">单重</th>
                    <th class="text-center" width="06%"><span ng-class="{'text-info':calctp === 'D16'}" ng-click="SetPDJTP('D16')">重量</span></th>
                    <th class="text-center">单位</th>
                    <th class="text-center">单价</th>
                    <th class="text-center" width="06%">金额</th>
                    <th class="text-center" width="10%">仓库</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delt of delts;let index= index">
                    <td class="text-center"><input class="form-control input-sm" type="text" [disabled]='edited' value='{{index + 1}}'></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='edited' [(ngModel)]='delt.SHD07'
                            ng-change="doCalc(delt)"></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='edited' [(ngModel)]='delt.SHD07A'
                            ng-change="doCalc(delt)"></td>
                    <td><input class="form-control input-sm" type="text" ng-focus="open($index)" [readonly]='edited'
                            [(ngModel)]='delt.SHD01'></td>
                    <td><input class="form-control input-sm" type="text" [readonly]='edited' [(ngModel)]='delt.SHD02'></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='edited' [(ngModel)]='delt.SHD03'
                            ng-change="doCalc(delt)" /></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='edited' [(ngModel)]='delt.PROD05' /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='edited' [(ngModel)]='delt.SHD15'
                            ng-blur="doCalc(delt)" /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='edited' [(ngModel)]='delt.SHD16'
                            ng-blur="doCalc(delt)" /></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='edited' [(ngModel)]='delt.SHD06' /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='edited' [(ngModel)]='delt.SHD04'
                            ng-change="doCalc(delt)" /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='edited' [(ngModel)]='delt.SHD05'
                            ng-change="doCalc(delt)" /></td>
                    <td>
                        <div class="input-group" ng-controller="DropdownController">
                            <input type="text" class="form-control  input-sm" [readonly]='edited' [(ngModel)]='delt.SHD09NA' />
                            <input type="hidden" class="form-control input-sm" [readonly]='edited' [(ngModel)]='delt.SHD09' />
                            <div class="input-group-btn input-group-sm" ng-hide="edited" dropdown>
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle><span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li ng-repeat="lidelt in listkc">
                                        <a href="" ng-click="delt.SHD09 = lidelt.LID;
                                                            delt.SHD09NA = lidelt.LNAME;"
                                            ng-bind='lidelt.LNAME'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-default btn-sm" [disabled]="edited" (click)="DelDelt($index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <tm-pagination conf="paginationConf"></tm-pagination> -->