<!--
<iframe wnwg-src="{{downloadna}}" style="display:none"></iframe>
-->
<div class="container-fluid">
    <div class="row navbar">
        <div class="row col-4 col-sm-6 col-md-3">
            <span class="col">进货单 {{mast.QISTR}}</span>
            <span class="col" *ngIf="mast.CHKYN == '1'"><img style="height:38px" src="../../assets/images/chky.png"
                    title="己审核" alt="己审核" /></span>
            <span class="col" *ngIf="mast.QIAN == '1'"><img style="height:38px" src="../../assets/images/chky.png"
                    title="己结案" alt="己结案" /></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">单号:{{mast.SHMTP}}</span>
                </div>
                <input type="text" class="form-control" placeholder="单号" aria-label="单号" [readonly]='!CanEdit'
                    [(ngModel)]='mast.SHMUD'>
            </div>
        </div>

        <div class="col-sm-2 col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">日期</span>
                </div>
                <input class="form-control" type="text" [readonly]='!CanEdit' [(ngModel)]='mast.SHM01' date-picker />
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="btn-group ">
                <button class="btn btn-outline-info"
                    [ngClass]="{'btn-outline-danger':!Saved,'btn-outline-success':Saved}" type="button"
                    [disabled]='!CanEdit' (click)="doSaveOrder()">保存</button>
                <a class="btn btn-outline-info" [routerLink]="['../../print',mast.SHMID]" target="print">列印</a>
                <a class="btn btn-outline-info" [routerLink]="['../../']">返回</a>
            </div>
        </div>
    </div>
    <div class="row navbar">
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">厂商</button>
                </div>
                <input type="text" class="form-control" [readonly]='!CanEdit' [disabled]='!CanEdit' ng-focus="isActive = true;
                            ShowAcc('', 'CLI')" ng-keyup="ShowAcc(mast.SHM02NA, 'CLI')" [(ngModel)]='mast.SHM02NA' />
                <div class="input-group-prepend" ngbDropdown placement="bottom-right" [hidden]="!CanEdit">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" placement='bottom-right' ngbDropdownMenu>
                        <button class="dropdown-item">One</button>
                        <button class="dropdown-item">Two</button>
                        <button class="dropdown-item">Four!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">相关单号</span>
                </div>
                <input class="form-control" type="text" [readonly]='!CanEdit' [(ngModel)]='mast.SHM17' />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">客户单号</span>
                </div>
                <input class="form-control " type="text" [readonly]='!CanEdit' [(ngModel)]='mast.CLIID' />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">仓库</span>
                </div>
                <input type="text" class="form-control" [readonly]='!CanEdit' [(ngModel)]='mast.SHM13NA' />
                <input type="hidden" class="form-control" [readonly]='!CanEdit' [(ngModel)]='mast.SHM13' />
                <div class="input-group-prepend" ngbDropdown placement="bottom-right" [hidden]="!CanEdit">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <button class="dropdown-item">One</button>
                        <button class="dropdown-item">Two</button>
                        <button class="dropdown-item">Four!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row navbar">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">交货地址</span>
                </div>
                <input type="text" class="form-control" name="SHM09" id="SHM09" [readonly]='!CanEdit'
                    [(ngModel)]='mast.SHM09' />
                <div class="input-group-prepend" ngbDropdown placement="bottom-right" [hidden]="!CanEdit">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <button class="dropdown-item">One</button>
                        <button class="dropdown-item">Two</button>
                        <button class="dropdown-item">Four!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group" ng-controller="DropdownController">
                <div class="input-group-prepend">
                    <span class="input-group-text">币别</span>
                </div>
                <input type="text" class="form-control" [readonly]='!CanEdit' [(ngModel)]='mast.SHM18NA' />
                <input type="hidden" class="form-control" [readonly]='!CanEdit' [(ngModel)]='mast.SHM18' />
                <div class="input-group-prepend" ngbDropdown placement="bottom-right" [hidden]="!CanEdit">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <button class="dropdown-item">One</button>
                        <button class="dropdown-item">Two</button>
                        <button class="dropdown-item">Four!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group" ng-controller="DropdownController">
                <div class="input-group-prepend">
                    <span class="input-group-text">交货方式</span>
                </div>
                <input type="text" class="form-control" name="SHM14NA" id="SHM14NA" [readonly]='!CanEdit'
                    [(ngModel)]='mast.SHM14NA' />
                <input type="hidden" class="form-control mast" name="SHM14" id="SHM14" [readonly]='!CanEdit'
                    [(ngModel)]='mast.SHM14' />
                <div class="input-group-prepend" ngbDropdown placement="bottom-right" [hidden]="!CanEdit">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <button class="dropdown-item">One</button>
                        <button class="dropdown-item">Two</button>
                        <button class="dropdown-item">Four!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p *ngFor="let alert of alerts">
        <ngb-alert  [type]="alert.type" (close)="close(alert)" >{{ alert.message }}</ngb-alert>
    </p>
    <!--<p-messages [(value)]="alerts"></p-messages> -->
    <div class="table-responsive">
        <table miTablekey class="table table-bordered table-sm edittable">
            <thead>
                <tr id="tablehead">
                    <th class="text-center" nowrap>#</th>
                    <th class="text-center">来源单号</th>
                    <th class="text-center">相关号</th>
                    <th class="text-center">物料编码</th>
                    <th class="text-center" width="25%">产品名称</th>
                    <th class="text-center" width="06%"><span [ngClass]="{'text-info':opt.calctp === 'D03'}"
                            (click)="SetPDJTP('D03');">数量</span></th>
                    <th class="text-center">单位</th>
                    <th class="text-center">单重</th>
                    <th class="text-center" width="06%"><span [ngClass]="{'text-info':opt.calctp === 'D16'}"
                            (click)="SetPDJTP('D16')">重量</span></th>
                    <th class="text-center">单位</th>
                    <th class="text-center">单价</th>
                    <th class="text-center" width="06%">金额</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delt of delts;let index= index">
                    <td class="text-center"><input class="form-control input-sm" type="text" [disabled]='!CanEdit'
                            value='{{index + 1}}'></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='!CanEdit' [(ngModel)]='delt.SHD07'
                            miOrdDeltCalc [delt]='delt' [optpar]='par' (changeTotal)="DoCalcTotal($event)"></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD07A'></td>
                    <td><input class="form-control input-sm" type="text" ng-focus="open($index)" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD01'></td>
                    <td><input class="form-control input-sm" type="text" [readonly]='!CanEdit' [(ngModel)]='delt.SHD02'>
                    </td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD03' miOrdDeltCalc [delt]='delt' [optpar]='par'
                            (changeTotal)="DoCalcTotal($event)" /></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.PROD05' /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD15' miOrdDeltCalc [delt]='delt' [optpar]='par' /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD16' miOrdDeltCalc [delt]='delt' [optpar]='par' /></td>
                    <td><input class="form-control input-sm " type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.PROD06' /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD04' miOrdDeltCalc [delt]='delt' [optpar]='par'
                            (changeTotal)="DoCalcTotal($event)" /></td>
                    <td><input class="form-control input-sm text-right" type="text" [readonly]='!CanEdit'
                            [(ngModel)]='delt.SHD05' miOrdDeltCalc [delt]='delt' [optpar]='par'
                            (changeTotal)="DoCalcTotal($event)" /></td>
                    <td nowrap>
                        <button type="button" class="btn btn-default btn-sm" [disabled]="!CanEdit"
                            (click)="DelDelt(delt)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">合计</span>
                </div>
                <input type="text" class="form-control" readonly [(ngModel)]='mast.SHM07' />
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">数量</span>
                </div>
                <input type="text" class="form-control text-right" readonly [(ngModel)]='mast.SHM16' />
                <!--   <span class="input-group-addon">箱数</span>
            <input type="text" class="form-control" readonly [(ngModel)]='mast.SHM30' /> -->
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">重量</span>
                </div>
                <input class="form-control" type="text" readonly [(ngModel)]='mast.SHM16A' />
            </div>
            <!--      <span class="input-group-addon">净重</span>
            <input type="text" class="form-control mast" readonly [(ngModel)]='mast.SHM31' />
            <span class="input-group-addon">总重</span>
            <input type="text" class="form-control mast" readonly [(ngModel)]='mast.SHM32' /> -->
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">金额</span>
                </div>
                <input type="text" class="form-control text-right" readonly [(ngModel)]='mast.SHM06' />
                <!--   <span class="input-group-addon">材积</span>
            <input type="text" class="form-control mast" readonly [(ngModel)]='mast.SHM33' /> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">备注</span>
                </div>
                <textarea class="form-control mast" rows="3" [readonly]='!CanEdit' [(ngModel)]='mast.SHM08'></textarea>
            </div>
        </div>
    </div>

</div>

<!-- <tm-pagination conf="paginationConf"></tm-pagination> -->