/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
$fa-font-path:"../node_modules/font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';
.edittable thead th {white-space:nowrap!important;}
.edittable tbody td {padding:0px!important;box-shadow:none!important;vertical-align:middle!important;}
.edittable tbody td input{padding:5px!important;border:none!important;box-shadow:none!important;}
// @import './app/public/lib/lib';